<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <a class="link" [routerLink]="'/'">{{appName}}</a>
   <span class="spacer"></span>

   <button *ngIf="!_connUser" mat-button class="login-button" aria-label="Login Button">Login</button>
   <button *ngIf="_connUser" mat-button class="logged-button" aria-label="Logged Button"><span class="profile-container"><img src="{{_connUser.imageUrl}}"></span> {{_connUser.username}}</button>
 </mat-toolbar>