.spacer {
    flex: 1 1 auto;
}

.link {
    text-decoration: none;
    color: #fff;
}


.profile-container > img {
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}