#login-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.btns-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.btns-subcontainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.submit-btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#submit-btn {
  min-width: 250px;
    margin-bottom: 3%;
}

.login-form {
    margin: 20px 20px;
}

.btn-fb {
  display: inline-block;
  border-radius: 1px;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}

.fb-content, .btn-fb, .btn-fb .fb-content {
    display: flex;
    align-items: center;
    width: 250px;
    height: 36px;
  }
  .fb-content .logo, .btn-fb .logo, .btn-fb .fb-content .logo {
    padding: 5px;
    height: inherit;
  }
  .fb-content svg, .btn-fb svg, .btn-fb .fb-content svg {
    width: 40px;
    height: 35px;
  }
  .fb-content p, .btn-fb p, .btn-fb .fb-content p {
    width: 100%;
    line-height: 36px;
    letter-spacing: 0.21px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  #divider {
    text-align: center;
    margin-bottom: 3%;
    color: rgba(0,0,0,.54);
  }

  
  .btn-fb :hover {
    cursor: pointer;
  }

  .btn-fb {
    background: #4267b2;
    background-color: #1877f2;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .btn-fb .fb-content p {
    color: rgba(255, 255, 255, 0.87);
  }